@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Work+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.divider{
  height:calc(100% - 40px);
}
html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

nav {
  background-color: rgb(241, 241, 241);
  height: 39px;
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper {
  margin: 0 auto;
  width: 90vw;
}
.wrapper h1 {
  color: #333;
  padding: 40px 0;
}
/*------------Scrollbar------------*/
::selection {
  background: #5fa5e688;
}
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129);
}
/*---------------------------------*/
nav .nav-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr {
  height: 1px;
  border: none;
  background-color: rgb(218, 218, 218);
}

label.logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding-left: 10px;
}
.ico {
  background-color: rgb(66, 66, 66);
  color: rgb(243, 243, 243);
  padding: 4px 0;
  border-radius: 6px;
}

.sidelogo {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  z-index: 11;
}
nav li {
  display: inline-block;
  margin: 0;
}

nav .menu-links a {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 9px 15px;
}
nav .menu-links a.active {
  background: linear-gradient(
    90deg,
    rgba(16, 16, 180, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .menu-links a:hover {
  border-bottom: 1px solid #5fa4e6;
}

nav #icon {
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hello {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(16, 16, 180, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box1 {
  position: absolute;
  display: block;
  z-index: 99;
  margin-right: 5vw;
  margin-top: 20px;
  font-size: 18px;
  font-family: monospace;
  border-radius: 10px;
  background-color: #d5e9fd;
  border-radius: 10px;
  border: 1px solid #5fa4e6;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transition: 0.5s;
}
.box1:hover {
  box-shadow: rgba(3, 102, 214, 0.4) 0px 0px 0px 4px;
  transition: 0.2s;
}
.box {
  display: flex;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
}
.content h3,
.content h2 {
  color: #333;
}

.box1 .image img {
  height: 100%;
  width: 200px;
  border-radius: 0px 10px 10px 0px;
}
.content {
  text-align: justify;
  padding: 20px;
  width: 100%;
}
.content h2 {
  background-color: rgb(233, 233, 233);
  border-left: 4px solid #5fa4e6;
  padding: 5px;
}
.content p {
  margin-top: 5px;
}
.codeex {
  font-family: monospace;
  font-size: 16px;
  background-color: #e6e6e681;
  padding: 20px 5px;
  border-left: 4px solid #5fa4e6;
}
.content1 {
  padding: 20px 20px 0px 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.719);
  margin: auto;
}
.htmm {
  position: absolute;
  z-index: 10;
  color: white;
  padding: 20px;
}

.htmm ul {
  margin-top: 5px;
  padding-left: 5px;
}

.htmm ul li {
  text-decoration: none;
}

.htmm ul li a {
  color: rgb(243, 243, 243);
}
.htmm ul li a:hover {
  color: #333;
}
.listt ul {
  padding-left: 24px;
}
.listt li {
  list-style: outside;
  font-size: 16px;
  font-weight: 600;
}
.logo2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  display: none;
}
.sep {
  height: 1px;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(16, 16, 180, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  margin-top: 20px;
}

.footer {
  background-color: rgb(243, 243, 243);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.line-links {
  text-align: center;
  padding: 30px;
}
.line-links a {
  color: #333;
  padding: 8px 26px;
  background-color: rgb(233, 233, 233);
  border-radius: 27px;
  font-size: 18px;
}
.line-links a:hover {
  background: linear-gradient(
    90deg,
    rgba(16, 16, 180, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  padding: 20px 10vw;
}
.footer .row .column a {
  display: block;
  color: rgb(117, 117, 117);
}
.footer .row .column a:hover {
  text-decoration: underline;
}
.footer .row .column h4 {
  color: #333;
}
.footer .row .column p {
  color: rgb(117, 117, 117);
  text-decoration: none;
}
.copy {
  text-align: center;
  font-size: 15px;
  color: rgb(119, 119, 119);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin-top: 20px;
}

.closebtn {
  font-size: 23px;
  color: #333;
  display: none;
  margin-top: 18px;
}

.close {
  color: #333;
  font-size: 25px;
  background-color: rgb(231, 231, 231);
  padding: 0px 3px;
  border-radius: 5px;
}
.close:hover {
  background-color: rgb(223, 223, 223);
}
.open {
  color: rgb(0, 0, 0);
  background-color: rgb(241, 241, 241);
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 20px;
}
.open:hover {
  background-color: rgb(226, 226, 226);
}

.contact-me {
  background-image: url(./bluegradient.jpg);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.top-text .hed {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.top-text .hed h2 {
  background-color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.2s;
}
.top-text .hed h2:hover {
  cursor: pointer;
  color: #5fa4e6;
  padding: 10px 20px;
  transition: 0.2s;
}

.top-text .hed a {
  color: black;
}
.filter {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 20;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: none;
}
.filter1 {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 22;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: block;
}

.close-btn {
  text-align: end;
  padding: 8px 3px;
}

.clbtn {
  color: rgb(0, 0, 0);
  font-size: 20px;
  background-color: #b9ddff;
  border-radius: 5px;
  transition: 0.5s;
}
.clbtn:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: 0.2s;
  cursor: pointer;
}
.clbtn i {
  color: black;
}

.close-btn a {
  color: rgb(102, 102, 102);
  padding: 5px;
}
.tabcontent {
  display: none;
  height: fit-content;
}
.welcome {
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(168, 168, 168);
  padding: 5px;
}
.welcome img {
  height: 150px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.3;
  margin-top: 20px;
}
.sidemenu-cont {
  display: flex;
  margin-top: 20px;
}
.side-menu {
  width: fit-content;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  height: fit-content;
  transition: 0.5s;
}
.side-menu:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.2s;
}
.side-cont {
  display: block;
}
.side-cont2 {
  display: block;
}
.side-cont2 .side a {
  padding: 5px 0;
  width: auto;
}
.side-cont2 .side li:hover {
  background-color: rgb(224, 224, 224);
}
.side-cont2 .side a:hover {
  border-left: 1px solid #5fa4e6;
}
.side {
  width: 250px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}

#wimg {
  background-image: url(./eff1a960ca3377f82072f5656dcd5181.jpg);
  color: #333;
}
.side a {
  color: #333;
  display: block;
  width: fit-content;
}
.side a:hover {
  background: linear-gradient(
    90deg,
    rgba(16, 16, 180, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side-menu a {
  display: block;
  border: unset;
  color: #333;
  padding: 10px 15px;
  line-height: 10px;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.side-menu a.active {
  background: linear-gradient(
    90deg,
    rgba(16, 16, 180, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.side-menu a:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  color: black;
}
.side-menu a:hover:last-child {
  border-radius: 0 0 10px 10px;
}
.side-menu a:hover:first-child {
  border-radius: 10px 10px 0 0;
}
.side-menu a:last-child {
  border-bottom: unset;
}
.tabcontent {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  margin-left: 15px;
  padding: 10px;
  width: 100%;
}
.tabcontent .column a {
  width: 100%;
  position: relative;
  color: white;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.tabcontent .row {
  display: flex;
}
.tabcontent .column {
  display: block;
  height: 50px;
  margin: 10px;
  width: 150px;
  border-radius: 10px;
}
.min-links {
  display: none;
}
.content-box {
  width: 250px;
  padding: 10px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}
.im {
  display: flex;
  margin-top: 40px;
}
.content-box a {
  display: block;
  padding: 5px 0;
  padding-left: 5px;
  color: #333;
}
.content-box a:hover {
  background-color: rgb(245, 245, 245);
}
.content-box h3 {
  color: #333;
}
.color-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.red {
  background-color: rgba(255, 0, 0, 0.493);
  padding: 20px 30px;
  width: 60px;
  text-align: center;
  color: white;
}
.orange {
  background-color: rgba(255, 166, 0, 0.507);
  padding: 20px 30px;
  width: 60px;
  text-align: center;
  color: white;
}
.db {
  background-color: rgba(128, 128, 128, 0.479);
  padding: 20px 30px;
  width: 60px;
  text-align: center;
  color: white;
}
.violet {
  background-color: rgba(238, 130, 238, 0.527);
  padding: 20px 30px;
  width: 60px;
  text-align: center;
  color: white;
}
.bgimg {
  background-image: url(./bluegradient.jpg);
  width: 100%;
  border: 1px solid #333;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
}
.bgimg li {
  list-style: disc;
  background-color: rgba(211, 211, 211, 0.425);
  margin: 3px 0 0 20px;
  width: fit-content;
}


.custom-shape-divider-top-1628332081 {
    position: absolute;
    background: linear-gradient(
    90deg,
    rgba(16, 16, 180, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
    top: 200px;
    left: 0;
    z-index: -33;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1628332081 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 137px;
}

.custom-shape-divider-top-1628332081 .shape-fill {
    fill: #FFFFFF;
}
.welcometxt{
display: flex;
align-items: center;
  height:calc(100% - 40px);
}
.wlcmcont{
  position: absolute;
  margin-left: 5vw;
    margin-right: 5vw;

  margin-top: -100px;
  display: block;
}
.welcometxt h1{
  width: fit-content;
  font-size: 100px;
  color: white;
  background-color: #333;
  font-family: monospace;
}
.welcometxt h2{
  font-size: 30px;
  width: fit-content;
  font-family: monospace;
  margin-top: 10px;
  color: white;
    background-color: #333;

}
/*-------------------Media Quires---------------------*/

@media screen and (max-width: 909px) {
  nav #icon {
    display: block;
    font-size: 20px;
  }
  body {
    margin-top: 50px;
  }
  nav {
    position: fixed;
    z-index: 21;
    top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url(./eff1a960ca3377f82072f5656dcd5181.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
  }

  .joke {
    display: block;
  }
  .logo2 {
    display: block;
    margin-top: 20px;
    position: relative;
    text-align: left;
  }

  .closebtn {
    display: block;
  }

  nav ul {
    display: block;
    position: fixed;
    z-index: 23;
    width: 70%;
    padding: 0 20px;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    top: 0px;
    left: -100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.2s ease-in-out;
  }

  nav li {
    display: block;
    width: auto;
    padding: 20px 0;
    border-bottom: 1px solid rgb(190, 190, 190);
  }

  nav li:hover {
    border-bottom: 1px solid #5fa4e6;
  }
  nav .menu-links a:hover {
    border-bottom: none;
  }
  nav li a {
    border-radius: 0px;
    padding: 20px;
    width: 100%;
    color: #333;
    background-color: transparent;
  }
  nav li a:hover,
  .active {
    background-color: transparent;
    border: unset;
  }

  nav ul.show {
    left: 0;
  }
  .min-links {
    display: block;
    margin: 20px;
  }
  .min-links a {
    padding: 7px;
    color: #333;
    font-size: 18px;
  }
  .min-links a:hover {
    color: #5fa4e6;
  }
}

@media screen and (max-width: 500px) {
  .box1 {
    display: block;
    font-size: 15px;
  }
  .box {
    display: table;
  }

  .min-links a {
    font-size: 17px;
  }
  .box1 .image img {
    height: 130px;
    width: 100%;
    vertical-align: middle;
    border-radius: 0px 0px 10px 10px;
  }
  .contact-me {
    margin-top: 20px;
  }

  .footer .row {
    display: block;
    text-align: center;
    padding: 20px 0;
  }
  .footer .row .column {
    padding: 5px 0;
  }

  .line-links {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
  }
  .line-links a {
    color: #333;
    padding: 6px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 27px;
    font-size: 18px;
  }
  .content {
    padding: 0;
    display: table-header-group;
  }
  .content1 {
    padding: 20px;
  }
  .htmm {
    padding: 10px 20px;
  }
  .top-text .hed h2 {
    font-size: 14px;
  }
  .sidemenu-cont {
    display: block;
  }
  .side-menu {
    width: 100%;
  }
  .tabcontent {
    margin: 0;
    margin-top: 10px;
  }

  .tabcontent .column {
    margin: 2px;
    width: 100%;
  }
  .tabcontent .row {
    display: block;
  }
  .side {
    width: unset;
  }
  #toptop {
    margin-top: 0;
  }
  .side-cont {
    margin-bottom: 20px;
    display: table-footer-group;
  }
  .side-cont2 {
    display: table-header-group;
  }
  .colors {
    margin-top: 20px;
  }
  .codeex {
    font-size: 14px;
  }
  label.logo {
    padding-left: 0;
  }
  .port {
    display: none;
  }

.wlcmcont{
  position: absolute;
  margin-left: 5vw;
  display: block;
}
.welcometxt h1{
  width: fit-content;
  font-size: 60px;
  color: white;
  background-color: #333;
  font-family: monospace;
}
.welcometxt h2{
  font-size: 20px;
  width: fit-content;
  font-family: monospace;
  margin-top: 10px;
  color: white;
    background-color: #333;

}
}
